/.vs/ExcelToTransactions/v15/.suo
/.vs/ExcelToTransactions/v15/Server/sqlite3/db.lock
/.vs/ExcelToTransactions/v15/Server/sqlite3/storage.ide
/.vs/ExcelToTransactions/v15/Server/sqlite3/storage.ide-shm
/.vs/ExcelToTransactions/v15/Server/sqlite3/storage.ide-wal
/ExcelToBC/bin/Debug
/ExcelToBC/bin/Release
/ExcelToBC/obj/Debug
/ExcelToBC/obj/Release
/ExcelToTransactions/bin/Debug
/ExcelToTransactions/bin/Release
/ExcelToTransactions/obj/Debug
/ExcelToTransactions/obj
/TestExcel/bin
/TestExcel/obj
/packages