<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelToGX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <ExcelToGX.Properties.Settings>
            <setting name="DataStartRow" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DataStartColumn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataNameColumn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataDescriptionColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AttributeNullableColumn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="AttributeKeyColumn" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DataTypeColumn" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LevelCheckColumn" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LevelIdColumn" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LevelParentIdColumn" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="LevelIdentifierKeyword" serializeAs="String">
                <value>LVL</value>
            </setting>
            <setting name="PKValue" serializeAs="String">
                <value>PK</value>
            </setting>
            <setting name="NullableValue" serializeAs="String">
                <value>〇</value>
            </setting>
            <setting name="BaseTypeColumn" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataLengthColumn" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ObjectNameRow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ObjectNameColumn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ObjectDescRow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ObjectDescColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefinitionSheetName" serializeAs="String">
                <value>TransactionDefinitionSheet</value>
            </setting>
            <setting name="ItemIsCollectionColumn" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CollectionIdentifierKeyword" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="CollectionItemNameColumn" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="FormulaCheckColumn" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FormulaIdentifierKeyword" serializeAs="String">
                <value>FRM</value>
            </setting>
            <setting name="FormulaColumn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AttributeAutonumberColumn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DomainPrefixKeyword" serializeAs="String">
                <value>dom</value>
            </setting>
            <setting name="AttributePrefixKeyword" serializeAs="String">
                <value>att</value>
            </setting>
            <setting name="SDTPrefixKeyword" serializeAs="String">
                <value>sdt</value>
            </setting>
            <setting name="DefaultBaseTypePrefixKeyword" serializeAs="String">
                <value>dom</value>
            </setting>
            <setting name="AttributeTitleColumn" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="AttributeColumnTitleColumn" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AttributeContextualTitleColumn" serializeAs="String">
                <value>13</value>
            </setting>
        </ExcelToGX.Properties.Settings>
    </applicationSettings>
</configuration>